// *** COLORS ***
$primary: #4263eb !important;
$secondary: #707070 !important;
$accent1: #895bf1 !important;
$accent2: #f3654a !important;
$accent3: #ffb536 !important;
$accent4: #1ad598 !important;

// *** BACKGROUNDS COLORS ***
$navbar-bg: #fff !important;
$dashboard-bg: #f4f5f6 !important;
$table-bg: #f9fafc !important;

// *** FONTS COLORS ***
$text: #000027 !important;
$text-light: #fff !important;
$subtext: #8d98a9 !important;
$hint: #b3bccb !important;

// *** BORDERS AND OUTLINES COLORS ***
$outline: #e2e7f1 !important;
$outline-dark: #ced6e3 !important;
$input-outline: 1px solid #ddd !important;

// *** FONTS SIZES ***
// H1
$h1-size: 25px !important;
$h1-weight: 600 !important;
// H2
$h2-size: 22px !important;
$h2-weight: 600 !important;
// H3
$h3-size: 20px !important;
$h3-weight: 600 !important;
// H4
$h4-size: 18px !important;
$h4-weight: 600 !important;
// H5
$h5-size: 16px !important;
$h5-weight: 600 !important;
// H6
$h6-size: 14px !important;
$h6-weight: 600 !important;
// SIDENAV LINKS
$sidenav-size: 15px !important;
$sidenav-weight: 400 !important;
// TEXT
$text-size: 14px !important;
$text-weight: 400 !important;
// SUBTEXT
$subtext-size: 12px !important;
$subtext-weight: 400 !important;

// *** BUTTONS STYLES ***
$btn-border: 0.5px solid #e2e7f1 !important;
$btn-border-radius: 10px !important;
// TALL BUTTON
$btn-tall-font-size: 16px !important;
$btn-tall-font-weight: 600 !important;
$btn-tall-height: 36px !important;
// SHORT BUTTON
$btn-short-font-size: 14px !important;
$btn-short-font-weight: 400 !important;
$btn-short-height: 30px !important;

// *** CARDS STYLES ***
$card-border: 0.5px solid #e2e7f1 !important;
$card-border-radius: 10px !important;
$card-padding: 20px !important;
$card-margin: 12px !important;
$card-bg: #ffffff !important;
$card-shadow: 0px 3px 6px #0a2c4f0d !important;
$card-title-margin-bottom: 40px !important;
// SMALL CARD
$small-card-min-height: 90px !important;
$small-card-min-weight: 250px !important;

:root {
  --primary: #4263eb !important;
  --secondary: #4263eb1a !important;
  --accent1: #895bf1 !important;
  --accent2: #f3654a !important;
  --accent3: #ffb536 !important;
  --accent4: #1ad598 !important;
  --navbar-bg: #fff !important;
  --dashboard-bg: #f4f5f6 !important;
  --table-bg: #f9fafc !important;
  --text: #000027 !important;
  --text-light: #fff !important;
  --subtext: #8d98a9 !important;
  --hint: #b3bccb !important;
  --outline: #e2e7f1 !important;
  --outline-dark: #ced6e3 !important;
  --h1-size: 25px !important;
  --h1-weight: 600 !important;
  --h2-size: 22px !important;
  --h2-weight: 600 !important;
  --h3-size: 20px !important;
  --h3-weight: 600 !important;
  --h4-size: 18px !important;
  --h4-weight: 600 !important;
  --h5-size: 16px !important;
  --h5-weight: 600 !important;
  --h6-size: 14px !important;
  --h6-weight: 600 !important;
  --sidenav-size: 15px !important;
  --sidenav-weight: 400 !important;
  --text-size: 14px !important;
  --text-weight: 400 !important;
  --subtext-size: 12px !important;
  --subtext-weight: 400 !important;
  --btn-border: 0.5px solid #e2e7f1 !important;
  --btn-border-radius: 10px !important;
  --btn-tall-font-size: 16px !important;
  --btn-tall-font-weight: 600 !important;
  --btn-tall-height: 36px !important;
  --btn-short-font-size: 14px !important;
  --btn-short-font-weight: 400 !important;
  --btn-short-height: 30px !important;
  --card-border: 0.5px solid #e2e7f1 !important;
  --card-border-radius: 10px !important;
}

// INPUTS
$input-padding: 5px 12px;
$input-border-radius: 5px;
